$btn: 'button, input[type="submit"], .button';

#{$btn} {
    display: block;
    padding: 0.55em 2.5em 0.65em;
    border-radius: rem(100px);
    background: var(--secondary-warm-color);
    border: rem(7px) solid var(--tertiary-warm-color);
    font-size: rem(32px);
    line-height: 1;
    font-weight: 700;
    color: var(--primary-warm-color);
    cursor: pointer;
    @include hover {
        background: var(--tertiary-warm-color);
        transform: scale(1.1);
    }
    &.secondary, &.tertiary {
        border: 0;
        font-size: rem(24px);
        border: rem(7px) solid var(--white);
        &:hover {
            transform: scale(1);
            padding-left: 4em;
            padding-right: 4em;
        }
    }
    &.secondary {
        border-radius: rem(100px) 0 0 rem(100px);
        background: var(--secondary-cool-color);
        border-right: 0;
        color: var(--primary-warm-color);
    }
    &.tertiary {
        border-radius: 0 rem(100px) rem(100px) 0;
        background: var(--primary-cool-color);
        border-left: 0;
        color: var(--tertiary-cool-color);
        &:hover {
            color: var(--white);
        }
    }
    &.center {
        margin-left: auto;
        margin-right: auto;
    }
}

.btn-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    transform: translateY(-50%);
}