@mixin placeholder
{
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}  
}

form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .form-field {
        flex: 0 0 25%;
        padding: rem($base-spacing);
        &.full-width {
            flex: 0 0 100%;
        }
        &.auto {
            flex: 0 0 auto;
        }
    }
}

input[type="text"],
fieldset {
    display: block;
    width: 100%;
    padding: 0.75em 1em;
    border-radius: rem(7px); // variable for border radius
    background: rgba(white, 0.8);
    border: rem(3px) solid var(--secondary-cool-color);
    font-size: rem(21px);
    color: var(--tertiary-cool-color);

    &.error {
        border-color: var(--secondary-warm-color);
    }
}

input[type="text"] {
    @include placeholder {
        color: var(--primary-cool-color);
    }
    &.error {
        border-radius: rem(7px) rem(7px) 0 0;
        @include placeholder {
            color: var(--secondary-warm-color);
        }
    }
}

label, legend {
    display: block;
    margin-bottom: rem(5px);
    font-size: rem(18px);
    white-space: nowrap;
}

fieldset {
    position: relative;
    margin-top: rem(($base-font-size * 1.5) + 5px);
    legend {
        position: absolute;
        bottom: 100%;
        left: 0;
        color: var(--white);
    }
}

input[type="checkbox"] {
        
    + label {
        display: block;
        margin: 0;
        text-align: center;
        cursor: pointer;

        &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 1.5em; height: 1.5em; // mixin for size
            margin: -0.2em 0.5em 0 0;
            border-radius: 50%; // mixin for circle
            background: rgba($primary-cool-color, 0.8);
            border: rem(4px) solid var(--white);
        }
    }
    &:checked + label:before {
        background: var(--secondary-warm-color);
    }
}

.select {
    padding: 0;
    .dropdown {
        position: relative;
         &-menu {
            position: absolute; // mixin for positioning
            top: calc(100% - #{rem(1px)});
            left: rem(-2px); right: rem(-2px); // variable for border width
            padding: 0.375em 0 0;
            opacity: 0;
            pointer-events: none;
            overflow: hidden;
            border-radius: 0 0 rem(7px) rem(7px);
            background: rgba(white, 0.8); // variable for background
            border: rem(3px) solid var(--secondary-cool-color); // variable for border
        }
        &-selected {
            padding: 0.75em 1em; // variable for padding
        }
        @include hover {
            .dropdown-selected + .dropdown-menu {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }
    input[type="radio"] {
        @include sr-only();
        
        + label {
            display: block;
            padding: 0.375em 1em;
            margin: 0;
            font-size: rem(21px);
            cursor: pointer;
        }
        &:not(:disabled) + label {
            @include hover {
                background: white;
                font-weight: 700; // variable for bold
            }
        }
        &:checked + label {
            background: white;
            font-weight: 700;
        }
        &:disabled + label {
            color: var(--primary-cool-color);
            cursor: not-allowed;
            pointer-events: none;
        }
    }
    &.error {
        border-radius: rem(7px) rem(7px) 0 0;
        .dropdown-selected {
            color: var(--secondary-warm-color);
        }
    }
}

.error-msg {
    padding: 0.4em 1.5em 0.5em;
    font-size: rem(16px);
    border-radius: 0 0 rem(7px) rem(7px);
    background: var(--secondary-warm-color);
    color: var(--white);

    &.checkbox {
        margin-top: 0.5em;
        border-radius: rem(7px);
    }
}