<<<<<<< HEAD
body {
    height: 100vh;
}
=======
>>>>>>> feature-theme
#responses {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
<<<<<<< HEAD
    .response {
        flex: 0 0 25%;
        max-width: 25%;
        padding: rem($base-spacing);
=======
    max-width: rem(1920px - ($base-spacing * 2));
    margin: 0 auto;
    .response {
        flex: 0 0 100%;
        padding: rem($base-spacing) 0 rem($base-spacing * 2);
        @media (min-width: 768px) {
            flex: 0 0 50%;
            padding: rem($base-spacing) rem($base-spacing) rem($base-spacing * 2);
        }
        @media (min-width: 1367px) {
            flex: 0 0 25%;
            padding: rem($base-spacing);
        }
>>>>>>> feature-theme
    }
}

.legal-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    > li a {
        padding: 10px;
    }
}