body {
    height: 100vh;
}
#responses {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .response {
        flex: 0 0 25%;
        max-width: 25%;
        padding: rem($base-spacing);
    }
}

.legal-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    > li a {
        padding: 10px;
    }
}