$base-spacing: 25px;

:root {
    --base-spacing: #{rem($base-spacing)};
}
body {
    padding: rem($base-spacing);
}
section {
    padding: rem($base-spacing * 2) 0;
    &:first-child {
        padding-top: rem($base-spacing * 4);
    }
}
form {
    padding: rem($base-spacing) 0;
}
.oobi {
    padding: rem($base-spacing * 4) 0;
}