@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>
            An AI-powered student comment generator for teachers | Oobi
        </title>
        <link rel="stylesheet" href="/Content/Site.css" />
    </head>
    <body>
        <h1>
            Hi there. I&rsquo;m Oobi, an AI&ndash;powered student comment generator app for&nbsp;teachers.
        </h1>
        <script src="/Scripts/Site.js"></script>
    </body>
</html>