@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">

    <title>
        Oobi | An AI-powered app for teachers | Report card comments
    </title>
    <meta property="og:title" content="Oobi | An AI-powered report card comment generator for teachers." />
    <meta name="twitter:title" content="Oobi | An AI-powered report card comment generator for teachers.">
    <meta name="description" content="Oobi uses ChatGPT to help teachers save time. Generate report card comments and student feedback with this easy to use resource for teachers." />
    <meta property="og:description" content="Are you a teacher looking for ways to save time? Try Oobi, an AI-powered tool for teachers that uses ChatGPT to quickly generate student feedback and comments for report cards.">
    <meta name="twitter:description" content="Are you a teacher looking for ways to save time? Try Oobi, an AI-powered tool for teachers that uses ChatGPT to quickly generate student feedback and comments for report cards.">

    <meta property="og:image" content="og.png" />
    <meta name="twitter:image" content="og.png">

    <meta property="og:site_name" content="Oobi App" />
    <meta name="twitter:site" content="Oobi App">
    <meta property="og:type" content="website" />

    <meta property="og:url" content="" />
    <meta name="twitter:url" content="" />

    <meta property="og:author" content="Meza, LLC" />
    <meta name="twitter:creator" content="Meza, LLC">
    <meta name="theme-color" content="#54C9E4">

    <base href="" target="_self">
    <link rel="canonical" href="" />

    <link rel="icon" href="/Content/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon72.png" />
    <link rel="apple-touch-icon-precomposed" href="favicon57.png" />
    <link rel="icon" href="/Content/img/favicon32.png" />

    <link rel="stylesheet" href="/Content/Site.css?" />
    <script src="/Scripts/jquery-3.6.3.min.js"></script>
</head>
<body>
    <header class="header">
        <img src="/Content/img/logo.webp" alt="Oobi logo" class="logo">
    </header>
    <main class="content">
        <section id="top">
            <h1>
                Hi there. I&rsquo;m Oobi, an AI-powered comment generator app for&nbsp;teachers.
            </h1>
            <p class="h3 ta-c-md">
                We can quickly generate customizable student feedback and report card comments with the help of&nbsp;ChatGPT.
            </p>
        </section>
        <section id="try">
            <h2 class="sr-only" data-alt-text="Generate comments for another student">
                Generate comments for your&nbsp;student
            </h2>
            <form name="form" id="form" action="/Home/GetResponses" method="post">
                <div class="form-field">
                    <label for="name">
                        What is your student's first&nbsp;name?
                    </label>
                    <input id="name" name="name" type="text" placeholder="Enter Student's First Name" data-error="Please enter your student's first name.">
                </div>
                <div class="form-field">
                    <fieldset id="subject" class="select" data-error="Please choose a subject.">
                        <legend>
                            What subject are we&nbsp;grading?
                        </legend>
                        <div class="dropdown">
                            <div class="dropdown-selected">Choose a subject</div>
                            <div class="dropdown-menu">
                                <input type="radio" id="subjectPlaceholder" name="subject" disabled checked">
                                <label for="subjectPlaceholder">
                                    Choose a subject
                                </label>
                                <input type="radio" id="subjectArt" name="subject" value="art">
                                <label for="subjectArt">
                                    Art
                                </label>
                                <input type="radio" id="subjectEnglish" name="subject" value="english">
                                <label for="subjectEnglish">
                                    English
                                </label>
                                <input type="radio" id="subjectHistory" name="subject" value="history">
                                <label for="subjectHistory">
                                    History
                                </label>
                                <input type="radio" id="subjectMath" name="subject" value="math">
                                <label for="subjectMath">
                                    Math
                                </label>
                                <input type="radio" id="subjectScience" name="subject" value="science">
                                <label for="subjectScience">
                                    Science
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="form-field">
                    <fieldset id="grade" class="select" data-error="Please choose a grade.">
                        <legend>
                            What grade did they&nbsp;receive?
                        </legend>
                        <div class="dropdown">
                            <div class="dropdown-selected">Choose a grade</div>
                            <div class="dropdown-menu">
                                <input type="radio" id="gradePlaceholder" name="grade" disabled checked">
                                <label for="gradePlaceholder">
                                    Choose a grade
                                </label>
                                <input type="radio" id="gradeA" name="grade" value="a">
                                <label for="gradeA">
                                    A
                                </label>
                                <input type="radio" id="gradeB" name="grade" value="b">
                                <label for="gradeB">
                                    B
                                </label>
                                <input type="radio" id="gradeC" name="grade" value="c">
                                <label for="gradeC">
                                    C
                                </label>
                                <input type="radio" id="gradeD" name="grade" value="d">
                                <label for="gradeD">
                                    D
                                </label>
                                <input type="radio" id="gradeF" name="grade" value="f">
                                <label for="gradeF">
                                    F
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="form-field">
                    <fieldset id="length" class="select" data-error="Please select a comment length.">
                        <legend>
                            How long should the comment&nbsp;be?
                        </legend>
                        <div class="dropdown">
                            <div class="dropdown-selected">Choose comment length</div>
                            <div class="dropdown-menu">
                                <input type="radio" id="lengthPlaceholder" name="length" disabled checked">
                                <label for="lengthPlaceholder">
                                    Choose comment length
                                </label>
                                <input type="radio" id="lengthShort" name="length" value="short">
                                <label for="lengthShort">
                                    Short (1-2 sentences)
                                </label>
                                <input type="radio" id="lengthMedium" name="length" value="medium">
                                <label for="lengthMedium">
                                    Medium (2-3 sentences)
                                </label>
                                <input type="radio" id="lengthLong" name="length" value="long">
                                <label for="lengthLong">
                                    Long (3-4 sentences)
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="form-field full-width">
                    <input id="submit" type="submit"class="button center" value="Try me" data-value="Create student feedback">
                    <p class="small ta-c">By clicking the button to submit the form, you agree to the  <a href="#" title="Terms and Conditions">Terms and Conditions</a>.</p>
                </div>
            </form>
        </section>
        <section id="results" style="display:none">
            <div class="oobi">
                <img src="/Content/img/oobi-head.webp" alt="Oobi the Octopus" class="oobiHead oobi-head">
            </div>
            <div class="resultsText">
                <h2>
                    Here are my feedback suggestions&nbsp;for
                </h2>
                <p class="studentName h1 ta-c-md"></p>
            </div>
            <div id="responses">
                <div class="response">
                    <textarea readonly class="card"></textarea>
                    <div class="btn-group">
                        <button type="button" class="copyBtn button secondary">Copy</button>
                        <!--<button type="button" class="nextBtn button tertiary">Next</button>-->
                    </div>
                </div>
                <div class="response">
                    <textarea readonly class="card"></textarea>
                    <div class="btn-group">
                        <button type="button" class="copyBtn button secondary">Copy</button>
                        <!--<button type="button" class="nextBtn button tertiary">Next</button>-->
                    </div>
                </div>
                <div class="response">
                    <textarea readonly class="card"></textarea>
                    <div class="btn-group">
                        <button type="button" class="copyBtn button secondary">Copy</button>
                        <!--<button type="button" class="nextBtn button tertiary">Next</button>-->
                    </div>
                </div>
                <div class="response">
                    <textarea readonly class="card"></textarea>
                    <div class="btn-group">
                        <button type="button" class="copyBtn button secondary">Copy</button>
                        <!--<button type="button" class="nextBtn button tertiary">Next</button>-->
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer id="footer">
        <ul class="legal-links">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
        </ul>
        <p class="copyright">
            &copy;2023 Meza,&nbsp;LLC. All rights reserved.
        </p>
    </footer>
    <script src="/Scripts/Site.js?"></script>
</body>
</html>